#########################
# provisioning artifact #
#########################
docker-compose.yml
Dockerfile
Makefile

#####################
# development stuff #
#####################
.bin
.dockerignore
.gitignore
.vscode
preview
README.md
.git